{% extends 'base.html' %}
{% block content %}
<h1 class="text-center">
    Feedback
</h1>
<div class="container col-4 mb-3">
    <form action="/feedback/add" method="POST">
        {{ form.hidden_tag() }}

        {%for field in form if field.widget.input_type != 'hidden'%}
        <div class="mb-3">
            {{field.label(class_='form-label')}}
            {{field(class_="form-control")}}
            {% for error in field.errors %}
            <p class="text-danger">
                {{error}}
            </p>
            {% endfor%}
        </div>
        {% endfor %}
        <button class="btn btn-primary" type="submit">submit</button>
    </form>
</div>
{% endblock %}